@import url(https://fonts.googleapis.com/css?family=Yellowtail|Montserrat|Roboto+Slab:400,700);

$primary-color: #fff;
$secondary-color: #000;
$tertiary-color: #2C6A79;

$title-font: 'Yellowtail', cursive; 
$serif-font: 'Roboto Slab', serif;
$sans-font: 'Montserrat', sans-serif;

.brand-logo {


} 

nav{
    color: $primary-color;
    font-family: $sans-font;
    
}


.social-media-links{
    font-family: $sans-font;
    
}

/*
 * Author: http://stuffandnonsense.co.uk/blog/about/hardboiled_css3_media_queries/
 */

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) {
#home{
    height: 35em;
    background: url("http://u83341670@s605611687.onlinehome.us/images/night_sky_3.jpg") no-repeat center;
    background-size: 100% 100%; 
    
}
.brand-logo{
        font-family: $title-font;
    color: $primary-color;
    top: 2.2em;
    position:relative; 
}
.brand-logo img{
    height:4em; 
    width:4em; 
    border-radius:50%;
}
.brand-logo span{
    position:relative;
    font-size: 1.8em;
    padding: 0 .4em;
    bottom: .8em;
}

#nav-mobile {
    margin-top:8em;

    display: inline;
}
#nav-mobile li{
    display:inline-block;
    float:none !important;
    
}
.social-media-links{

    display:block;
    
}
.social-media-links li{
height: 3em;
padding-top: .35em;
margin: 1em 0;
}
.social-media-links li a{
    color: $primary-color;
    border: 2px solid $primary-color;
}
.center {
    float:none !important;
}
#portfolio-list{
    display:inline;
    list-style: none;
    float:none !important;
}
#portfolio-list li { 
    display: inline-block; 
    margin: .1em 16.66666%;
}

li .card {
    width: 85%;

}
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
 {
/* Styles */
#nav-mobile {
display: inline;
    text-align: center;

    
}
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
.social-media-links li {
    display: inline-block;
    margin: 0 1em 2em;
    width: 13em;
    text-align: center;
}
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}