@import url(https://fonts.googleapis.com/css?family=Permanent+Marker|Oswald:400,300,700);

$fancyfont: 'Permanent Marker', cursive;

$basefont: 'Oswald';
$bounce-time: 2s;

#home {
  background: url('http://u83341670@s605611687.onlinehome.us/img/outside_court.jpg') center;
  background-size: cover;
  height: 85vh;
  font-family: $basefont;
  font-style: italic;
  font-variant: small-caps;

}
/*.brand-logo {
      color: yellow !important;
  text-shadow: 0 0 .5em rebeccapurple;
  font-variant:normal;
  
}*/

@keyframes bounce {
  0% {
	transform:translate(0%, 0%) rotate(15deg);

}
5% {
  	transform:translate(50%, 20%) rotate(30deg);

}
15% {
    transform:translate(150%, 60%) rotate(45deg);
    
}
30% {
    transform:translate(300%, 120%) rotate(90deg);
}
40% {
  	transform:translate(400%, 160%) rotate(120deg);
    
}
50% {
    transform:translate(500%, 200%) rotate(150deg);
    
}
60% {
    transform:translate(950%, 150%) rotate(180deg);
    
}
70% {
    transform:translate(1150%, 100%) rotate(210deg);
    
}
80% {
    transform:translate(1350%, 50%) rotate(240deg);
}
90% {
    transform:translate(1550%, 0%) rotate(270deg);
    padding-bottom: 8px;
}
95% {
    transform:translate(1650%, -25%) rotate(285deg);
}
97% {
    transform:translate(1675%, -37.5%) rotate(292deg);

}
99% {
    transform:translate(1725%, -48%) rotate(295deg);
}
100% {
    transform:translate(1750%, -50%) rotate(300deg);
 
}
     
}

nav {
  background: transparent;
  box-shadow: none;
  position: fixed !important;
  height: auto;
  z-index:999;
}
nav li {
  font-family:$fancyfont;
  font-size: 1.1em;
  border-radius: 50%;
  width: 4.4em;
  height: 4.4em;
  margin: 0 .6em 0 .6em;
  background: url('/img/basketball.svg') center;
  background-size: cover;
  position:relative;
  overflow: visible;
  float: none !important;
  display: inline-block;
 
 
}
.bounce {
   animation: bounce 1.05s;

}

nav li a {
  padding: 0 !important;
  text-align: center;
  font-variant: small-caps;
  text-shadow: 0 0 8px rebeccapurple;
}
nav li a:hover {
    background: none;
}
section {
    margin:  10px 0;
}
.tab-title {
    text-align:center;
}
#contact img {
    height: 18em;
    width: 18em;
    
}
#message {
    border: 1px solid #808080;
    border-radius: 20px;
    height: 6em;
    padding: .5em;
} 
#message-field {
    margin-top: 3rem;
}
#message-label {
    top: -2rem;
}
/*
 * Author: http://stuffandnonsense.co.uk/blog/about/hardboiled_css3_media_queries/
 */

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
{
       nav{
        position: static;
    }
    nav li {
float: none;
text-align: center;

}
/*.brand-logo {/
    position: relative;
    margin-top: 2em;
}*/
svg image {
    fill: #1976d2;
}
img.activator {
    height: 200px;
}
.mytab{
    margin-bottom: 1.1em;
        
    }
.tab-button {
    font-variant: large-caps;
    text-align: center;
    font-weight: 900;
}
#testimonial-list .card img {
    height:200px;
    width:200px;
    margin-top: .5em;

}

}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
    /* Styles */
 
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
 {
/* Styles */


}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 960px) {
/* Styles */

}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}