  <!DOCTYPE html>
  <html class='no-js'>
    <head>
      <meta content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" name="viewport">
                          <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
 <!-- Compiled and minified CSS -->


<link rel="icon" type="image/ico" href="images/favicon.ico">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
 
  <link rel="styleSheet" href="css/style.css" type="text/css" media="screen">
    <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>  
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
 
   
    
    <script src="js/app.js"></script>
    <script src="js/main.ctrl.js"></script>
    <script src="js/script.js"></script>
    <script src='/js/modernizr-custom.js'></script>





    </head>

    <body ng-app="app" ng-controller="MainController as main">
     <section class='baner' id='home'>

    <nav>
      <div class="nav-wrapper row">
<a href="#" data-activates="nav-small" class="button-collapse"><img src='img/team-first-logo.svg'></a>
        <ul id="nav-mobile hide-on-med-and-down" >
          <li class='nav-li '><a href="#home"><span class='hide-on-small-only'>Home</span></a></li>
          <li class='nav-li '><a href="#about"><span class='hide-on-small-only'>About</span></a></li>
          <li class='nav-li '><a href="#services"><span class='hide-on-small-only'>Services</span></a></li>
          <li class='nav-li '><a href="#contact"><span class='hide-on-small-only'>Contact</span></a></li>
          <li class='nav-li '><a href="#testimonials"><span class='hide-on-small-only'>Testimonials</span></a></li>
        </ul>
  
      
        <ul  id="nav-small" >
          <li><a href='#home'>Home</a></li>
          <li><a href='#about'>About</a></li>
          <li><a href='#services'>Services</a></li>
          <li><a href='#contact'>Contact</a></li>
          <li><a href='#testimonials'>Testimonials</a></li>
        </ul>
        </div>
        <div class='brand-logo hide-on-small-only'>
          <a href='#home'>
            <svg>
            <img class='logo-img' src='img/team-first-logo.svg'>
            </svg>
          </a>
        </div>
    </nav>
      
        
  </section>

  <section id='about' class='row'>
    <div class='seperator-row row'>
    <div class=' col s2 offset-s2 offset-m3 seperator'></div><h2 class='col s4 m2 center'>About</h2><div class='col s2 seperator'></div>
    </div>
    <article id='about-text' class='card col s10 offset-s1 m6 offset-m3'>
      
      <p>Coach Jeff Davis has been coaching basketball since 1999 at the junior high, high school, and college levels.
      He takes pride in his commitment to understanding indivual players strengths and weaknesses so that
      they can build opon their foundation and help players evolve into more well-rounded athletes.</p>
      <p>Past experience includes coaching opportunities at Steele Canyon High School, Barrett High School and
      Saddleback Junior College. Coach Davis provided scouting assistance at these locations as well as
      helping players to build their fundamentals and overall understanding of the game.</p>
      <p>Coach Davis is a dedicated teacher devoted to helping athletes become the best young men and women that they 
      can become.</p>
    </article>

  </section>
  <section id='services'>
        <div class='seperator-row row'>
    <div class=' col s2 offset-s1 offset-m3 seperator'></div><h2 class='col s6 m2 center'>Services</h2><div class='col s2 seperator'></div>
    </div>
  <div class="row">
    <div class="col s12 m10 offset-m1">
      <ul >
  <li class="col s10 offset-s1 m4" ng-repeat="service in main.services">
    <div class='card'>
       <div class="card-image waves-effect waves-block waves-light">
         
      <img class="activator" src="{{service.pic}}">

    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">{{service.service}}
      <i class="material-icons right">more_vert</i></span>
      
    </div>
   
    
    
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4"><strong>{{service.service}}</strong><i class="material-icons right">close</i></span>
      <p>{{service.description}}</p>
    </div>
  </div>
  </li>
  </ul>
      </div>
      
      
    </div>
    
    
  </div>
  </section>
   
  <section id='contact'>
        <div class='seperator-row row'>
    <div class='col s2 offset-s1 offset-m3 seperator'></div><h2 class='col s6 m2 center'>Contact</h2><div class='col s2 seperator'></div>
    </div>
    <div class='row'>
    <img class='center circle col s6 offset-s3 m2 offset-m5' src='img/coach-davis.jpg'>
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s10 offset-s1 m5 offset-m1">
          <i class="material-icons prefix">account_circle</i>
          <input id="icon_prefix" type="text" class="validate">
          <label for="icon_prefix">First Name</label>
        </div>
        <div class="input-field col s10 offset-s1 m5 offset-m1">
          <i class="material-icons prefix">phone</i>
          <input id="icon_telephone" type="tel" class="validate">
          <label for="icon_telephone">Telephone</label>
        </div>
      </div>
            <div class="row">
        <div class="input-field col s10 offset-s1 m5 offset-m1">
          <i class="material-icons prefix">email</i>
          <input id="email" type="email" class="validate">
          <label for="email" data-error="wrong" data-success="right">Email</label>
        </div>
      </div>
            <div class="row">
        <div id='message-field' class="input-field col s10 offset-s1">
          <textarea id="message" class="materialize-textarea"></textarea>
          <label id='message-label' for="message">Message</label>
        </div>
        </div>
        <div class='row center'>
          <button action='mailto:coachdavis@teamfirstbasketball.com, kevin_t_rogers@hotmail.com' class='btn laker-btn'>Send</button>
        </div>
      </div>
    </form>
  </div>
    </div>
  </section>
 <section id='testimonials'>
    <div class='seperator-row row'>
    <div class=' col s1 offset-s1 m2 offset-m2 seperator'></div><h2 class='col s8 m4 center'>Testimonials</h2><div class='col s1 m2 seperator'></div>
    </div>
  <div class='row'>
    <ul id='testimonial-list center' class='col s12 l10 offset-l1'>
      
      <li class='card center col s10 offset-s1 l3 offset-l1' ng-repeat="testimonial in main.testimonials">
        <div>
         <img src='{{testimonial.pic}}' class='circle'>
         <p class='testimony-text'><em>"{{testimonial.testimony}}"</em></p>
         <span class='testimony-source'>{{testimonial.name}}</span><br><span class='testimony-position'><em>{{testimonial.position}}</em></span>
         </p>
        </div>
     </div>   
      </li>
    </ul>
  </section>


  <footer >
    <div class=-'row'>
      <span class='col offset-m1 copyright'>&copy;2017 Team First Basketball, Design by <a href='http://spicymonkeymedia.com/'>Spicy Monkey Media</a></span>
    </div>
    
</footer>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
<script src='http://ajax.aspnetcdn.com/ajax/modernizr/modernizr-2.8.3.js'></script>
  </html>