  <!DOCTYPE html>
  <html>
    <head>
      <meta content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" name="viewport">
                          <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
 <!-- Compiled and minified CSS -->


<link rel="icon" type="image/ico" href="images/favicon.ico">

  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">


  <link rel="styleSheet" href="css/style.css" type="text/css" media="screen">
    <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->


    </head>

    <body ng-app="app" ng-controller="MainController as main">
        <nav class="grey darken-4">
    <div class="nav-wrapper center">
      
        <ul id="nav-mobile">
          
        <li ng-repeat="page in main.pages"><a href='{{page.link}}'><span class='hide-on-small-only'>{{page.title}}</span><span class='btn-floating hide-on-med-and-up btn tooltipped' data-position="bottom" data-delay="50" data-tooltip="{{page.title}}">{{page.abbr}}</span></a></li>
        
      </ul>
    </div>
  </nav>
      <section id='home'>
         <a href="#" class="nav_logo brand-logo center "><span>Spicy</span><img   alt="Spicy Monkey Media" src="http://spicymonkeymedia.com/images/spicymonkey_logo.png"><span>Monkey</span></a>
   
      <ul class="social-media-links">

        <li ng-repeat="media in main.social_media" >
                  <div class="row">
        <div class="col s10 offset-s1 m2 offset-m1">
            <a href="{{media.link}}"><span class="flow-text">{{media.title}}</span></a>
            </div>
    </div>
          </li>
        </ul>

      </section>
      <section id='about'></section>
<div class="container">
      <article class=' about_text flow-text'>
        <p>As a boy, I loved board games. Whenever someone in my family brought a new game home, 
        I always wanted to be the first one to read the rules. I knew that the better I understood the rules, 
        The better prepared I would be to develop an effective strategy. It also gave me the opportunity to explain
        the rules and to change them for my younger siblings so that they could enjoy the games more.</p>
        <p>I still enjoy board games, but I wrote about this because I find that web development follows similar logic. Learning the rules 
        (languages, frameworks, methods, tools, etc.), allows one to develop better strategies for increasing workflow and reducing bugs. As I have grown as developer,
        I also really enjoy explaining and discussing concpets with other developers. I am also very grateful to the other developers in my workplace, in meetups, and online who have done 
        the same for me.</p>
        <p>The first site I built was a WordPress site that I built for a company out of desperation. The people we had hired to do the work weren't doing. I got drafted, in a sense,
        to make the website without any experience. A few Google searches later, I had started building my a Word Press site, and it felt like magic. It also looked very amatuerish. I
        did a google search on HTML/CSS and went on Amazon and bought a book and went through it. My site now looked much more unique. Still not great, but I was going down the right path.
        </p>
        <p>I was living in Los Angeles. My commute home was an hour and fifteen minutes on a good day. I would come home, make dinner for my wife and myself before she headed out to work,
        feed my young son, bathe him, read to him, sing to him, and put him to bed. Then I would practice coding until 10:00p.m. and go to sleep. I would wake up at 4:30, work out and 
        code until 8:30 and then start work. I did this for a year and loved every minute of it.</p>
        <p>At first, I took advice from everybody and anybody. Advice included:
        <ul class="collapse_list">
          <li>Take a Java class and you'll be able to find a job without much of a problems.</li>
          <li>Word Press isn't worth learning.</li>
          <li>Ruby is the hottest skill on the planet.</li>
          <li>You don't really need to learn HTML. If you need to know something just google it.</li>
        </ul>
        Being a noob, I thought all of this advice was gold. And I was really enjoying learning new things. After a while, I realized, I hadn't learned enoguh to build 
        real applications. I took more classes. I learned about date structures and algorithms. I used online tutorials and videos. I built some applications from scratch. 
        They looked bad. I started to learn about design, typography, Responsive Design. I really wanted to understand why some sites looked really slick wile others looked 
        cluttered.
        </p>

      </article>
      <section id='portfolio'></section>
      <div class='row'>
      <ul id="portfolio-list">
        <li ng-repeat="project in main.projects" class= ' '>  <div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src='{{ project.screenshot }}' >
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">{{project.title}}<i class="material-icons right">more_vert</i></span>
      <p><a href="{{ project.link }}">See Project</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title black-text ">{{ projects.title }}<i class="material-icons right">close</i></span>
      <p class="technology">Technologies used:<br><span>{{ project.description }}</span></p>
    </div>
  </div>
  </li>
      </ul>
      </div>
      </section>
                </div>
      <section id='contact'>
        <h2 class="center">Contact</h2>
          <div class="row">
    <form class="col s10 offset-s1 offset-l2"   action="mailto:kevin_t_rogers@hotmail.com, kevin@spicymonkeymedia.com"
  method="POST"
  enctype="multipart/form-data"
  name="ContacttForm">
      <div class="row">
        <div class="input-field col s10 l4">
          <i class="material-icons prefix">account_circle</i>
          <input id="icon_prefix" type="text" class="validate">
          <label for="icon_prefix">Name</label>
        </div>
        <div class="input-field col s10 l4">
          <i class="material-icons prefix">phone</i>
          <input id="icon_telephone" type="tel" class="validate">
          <label for="icon_telephone">Telephone</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s10 l4">
          <i class="material-icons prefix">email</i>
          <input id="email" type="email" class="validate">
          <label for="icon_prefix">Email</label>
        </div>
        </div>
      <div class="row">
        <div class="input-field col s10 l8">
          <i class="material-icons prefix">message</i>
          <textarea id="textarea1" class="materialize-textarea"></textarea>
          <label for="textarea1">Message</label>
        </div>
        
      </div>
      <button class="col offset-s5 offset-l4 btn blue accent-1" type="submit" name="action">Send</button>
    </form>
  </div>

      </section>
      
      <!--Import jQuery before materialize.js-->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
          <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="main.ctrl.js"></script>
 
<script> $(document).ready(function(){
    $('.tooltipped').tooltip({delay: 50});
  });
  </script>

  
    </body>
      <footer class="page-footer grey darken-1">
    <div class="footer_row row center">
      <ul class="footer_menu col offset-s1 l4 offset-l2">
        <li class="footer_item"><a href="#home">
          Home
        </a></li>
        <li class="footer_item"><a href="#about">
          About
        </a></li>
        <li class="footer_item"><a href="#portfolio">
          Portfolio
        </a></li>
        <li class="footer_item"><a href="#contact">
          Contact
        </a></li>


      </ul>
      <ul class="footer_menu col s5 offset-s1 m4 offset-m2">
        <li class="footer_item">

          <a href="https://twitter.com/kevin_t_rogers">
            Twitter </a>
        </li>
        <li class="footer_item">
          <a href="https://www.linkedin.com/profile/view?id=AAIAAAmBUKoBdbOrqAwzQRxcyyy6wp_9xl90TVk&trk=nav_responsive_tab_profile">
                Linkedin</a>
        </li>
        <li class="footer_item">

          <a href="https://github.com/kevintrogers">
                  Github</a>
        </li>
        <li class="footer_item">
          <a href="http://freecodecamp.com/kevintrogers">
                  FreeCodeCamp</a>
        </li>
      </ul>
<div class="footer-copyright col s12 grey darken-4"> 
      <div class="col s5 offset-s1 m4 offset-m2">&copy; 2016 <a href="http://spicymonkeymedia.com/#home"> Spicy Monkey Media.</a>
      </div>
      </div>
    </div>
  </footer>
  </html>